<div class="bar">
  <a href="{{ base_url }}/admin/dashboard">Cursos</a>
  <a href="{{ base_url }}/admin/course/create">Novo Curso</a>
  <a href="{{ base_url }}/admin/users">Usuários</a>
  <a href="{{ base_url }}/admin/config">Configurações</a>
  <a href="{{ base_url }}/admin/help">Ajuda/FAQ</a>
</div>