<div class="course-card col" data-visibility="{{ course.visibility }}">
  <img src="data:image;base64,{{ course.image }}" alt="{{ course.title }}" class="image">
  <div class="info">
    <div class="course-header">
      <h3 class="title">{{ course.title }}</h3>
      <p class="workload"><ion-icon name="time"></ion-icon>Carga Horária: <span>{{ course.workload }}h</span>
      </p>
    </div>
    <div class="actions">
      <a href="{{ base_url }}/admin/course/edit/{{ course.id }}" class="btn btn-color"><ion-icon
          name="create"></ion-icon>Editar</a>
      <a href="{{ base_url }}/admin/course/topics/{{ course.id }}" class="btn btn-color"><ion-icon
          name="document-text"></ion-icon>Tópicos</a>
      <a href="{{ base_url }}/admin/course/quizzes/{{ course.id }}" class="btn btn-color"><ion-icon
          name="help-circle"></ion-icon>Quizzes</a>
      <div class="sub-actions">
        {% if course.visibility %}
        <a href="#" data-modal="disable-course" data-id="{{ course.id }}" class="btn inactive btn-warning"
          style="padding-left: 1.2rem;"><ion-icon name="eye-off"></ion-icon>Desativar</a>
        {% else %}
        <a href="#" data-modal="activate-course" data-id="{{ course.id }}" class="btn active btn-active"><ion-icon
            name="eye"></ion-icon>Ativar</a>
        {% endif %}
        <a href="#" data-modal="delete-course" data-id="{{ course.id }}" class="btn btn-danger"><ion-icon
            name="trash"></ion-icon>Deletar</a>
      </div>
    </div>
  </div>
</div>