<div class="bar">
  <a href="{{ base_url }}/user/dashboard">Cursos</a>
  <a href="{{ base_url }}/user/course/create">Novo Curso</a>
  <a href="{{ base_url }}/user/users">Usuários</a>
  <a href="{{ base_url }}/user/config">Configurações</a>
  <a href="{{ base_url }}/user/help">Ajuda/FAQ</a>
</div>