{% extends '/components/administrators/base.html.twig' %}
{% block content %}
<div id="user-dashboard" class="content">
  {% if session_message %}
  <p class="session-message {{ session_message_type }}">
    {{ session_message }}
  </p>
  {% endif %}
  {% if users %}
  <ul id="resources">
    {% for user in users %}
    <li><span><ion-icon name="person"></ion-icon><em>{{ user.email }}</em> ({{ user.first_name }} {{ user.last_name
        }})</span>
      <span class="actions">
        <button data-modal="delete-user" data-id="{{ user.id }}" data-name="{{ user.email }}"
          class="btn btn-danger"><ion-icon name="trash"></ion-icon></button>
      </span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Ainda não há usuários cadastrados na plataforma!</p>
  {% endif %}
</div>
{% endblock %}