{% extends '/components/administrators/base.html.twig' %}
{% block content %}
<div id="course-quizzes" class="content">
  {% if session_message %}
  <p class="session-message {{ session_message_type }}">
    {{ session_message }}
  </p>
  {% endif %}
  <div class="header-content">
    <h1>Quizzes do Curso: <span>{{ course_name }}</span></h1>
    <a href="{{ base_url }}/admin/course/quizzes/create/{{ course_id }}" class="btn btn-color wauto">Criar Novo</a>
  </div>
  {% if quizzes %}
  <ul id="resources">
    {% for quiz in quizzes %}
    <li>{{ quiz.title }}
      <span class="actions">
        {% if quiz.visibility %}
        <a href="{{ base_url }}/admin/course/quiz/visibility/{{ course_id }}/{{ quiz.id }}"
          class="btn btn-color"><ion-icon name="eye-off"></ion-icon></a>
        {% else %}
        <a href="{{ base_url }}/admin/course/quiz/visibility/{{ course_id }}/{{ quiz.id }}"
          class="btn btn-color"><ion-icon name="eye"></ion-icon></a>
        {% endif %}
        <a href="{{ base_url }}/admin/course/quizzes/questions/{{ course_id }}/{{ quiz.id }}"
          class="btn btn-active"><ion-icon name="help-circle"></ion-icon></a>
        <a href="{{ base_url }}/admin/course/quizzes/edit/{{ course_id }}/{{ quiz.id }}"
          class="btn btn-warning"><ion-icon name="create"></ion-icon></a>
        <a href="{{ base_url }}/admin/course/quizzes/delete/{{ course_id }}/{{ quiz.id }}"
          class="btn btn-danger"><ion-icon name="trash"></ion-icon></a>
      </span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Ainda não há nenhum quiz para este curso!</p>
  {% endif %}
</div>
{% endblock %}