{% extends '/components/administrators/base.html.twig' %}
{% block content %}
<div id="create-course" class="content">
  <h1>Criar Novo Tópico do Curso: <span>{{ course_name }}</span></h1>
  <form action="" method="post">
    {% if session_message %}
    <p class="session-message {{ message_type }}">
      {{ session_message }}
    </p>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="course_id" value="{{ course_id }}">
    <div class="input-field">
      <label for="title">Título do Tópico</label>
      <input type="text" id="title" name="title" value="{{ title }}" placeholder="Crie um título para o tópico">
      <ion-icon name="document-text"></ion-icon>
    </div>
    <div class="input-field">
      <label for="content">Conteúdo do Tópico</label>
      <textarea name="content" id="content">{{ content }}</textarea>
    </div>
    <button type="submit" class="btn btn-color">Criar Tópico</button>
  </form>
  <script>
    $('#content').summernote({
      placeholder: '',
      tabsize: 2,
      height: 1200,
      styleTags: [
        'p',
        { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
        'pre', 'h2', 'h3', 'h4', 'h5', 'h6'
      ]
    });
  </script>
</div>
{% endblock %}