{% extends '/components/administrators/base.html.twig' %}
{% block content %}
<div id="edit-course" class="content">
  <h1>Atualizar Curso: <span>{{ title }}</span></h1>
  <form action="{{ base_url }}/admin/course/edit" method="post" enctype="multipart/form-data">
    {% if session_message %}
    <p class="session-message {{ session_message_type }}">
      {{ session_message }}
    </p>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="id" value="{{ id }}">
    <div id="image-preview">
      <img id="preview" src="">
    </div>
    <div class="input-field">
      <label for="image">Escolha uma imagem principal para o curso:</label>
      <input type="file" name="image" id="image" class="{{ err_image ? 'input-error' : '' }}">
      <ion-icon name="link"></ion-icon>
    </div>
    <div class="input-field">
      <label for="title">Título do Curso:</label>
      <input type="text" name="title" id="title" placeholder="Escolha um título para o curso" value="{{ title }}"
        class="{{ err_title ? 'input-error' : '' }}">
      <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
    </div>
    <div class="input-field">
      <label for="workload">Carga Horária do Curso:</label>
      <input type="number" name="workload" id="workload" placeholder="Escolha uma carga horária para o curso"
        value="{{ workload }}" class="{{ err_workload ? 'input-error' : '' }}" min="1">
      <ion-icon name="time"></ion-icon>
    </div>
    <div class="input-field">
      <label for="description">Descrição do Curso:</label>
      <textarea name="description" id="description" rows="5" placeholder="Crie uma descrição para esse curso"
        class="{{ err_description ? 'input-error' : '' }}">{{ description }}</textarea>
    </div>
    <button type="submit" class="btn btn-color">Atualizar Curso</button>
    <div class="observation">
      <b>Prezado Administrador,</b>
      <p>Para ativar um curso em nossa plataforma, é imprescindível adicionar pelo menos um tópico de conteúdo
        relacionado a ele. Esses tópicos incluem aulas, módulos ou materiais didáticos essenciais para uma experiência
        de aprendizado valiosa. Sua contribuição ao criar e associar tópicos de conteúdo aos cursos é fundamental para
        garantir o acesso e a qualidade do material disponibilizado aos nossos usuários.</p>
    </div>
  </form>
</div>
{% endblock %}