{% extends '/components/administrators/base.html.twig' %}
{% block content %}
<div id="edit-quiz-question" class="content">
  <h1>Atualizar Questão Do Quiz: <span>{{ quiz_name }}</span></h1>
  <form action="{{ base_url }}/admin/course/quizzes/questions/edit" method="post">
    {% if session_message %}
    <p class="session-message {{ message_type }}">
      {{ session_message }}
    </p>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="course_id" value="{{ course_id }}">
    <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
    <input type="hidden" name="question_id" value="{{ question_id }}">
    <div class="input-field">
      <label for="question">Texto da Questão:</label>
      <textarea name="question" id="question" class="{{ err_question ? 'input-error' : '' }}"
        placeholder="Escreva o texto da questão..." rows="10">{{ question }}</textarea>
    </div>
    <div class="input-field">
      <label for="correct">Escolha Qual Alternativa Será A Correta:</label>
      <select name="correct" id="correct" class="{{ err_correct ? 'input-error' : '' }}">
        <option value="" disabled>Selecione A Alternativa Correta</option>
        <option value="1" {{ correct==1 ? 'selected' : '' }}>Alternativa 1</option>
        <option value="2" {{ correct==2 ? 'selected' : '' }}>Alternativa 2</option>
        <option value="3" {{ correct==3 ? 'selected' : '' }}>Alternativa 3</option>
        <option value="4" {{ correct==4 ? 'selected' : '' }}>Alternativa 4</option>
        <option value="5" {{ correct==5 ? 'selected' : '' }}>Alternativa 5</option>
      </select>
    </div>
    <div class="input-field">
      <label for="alternative_1">Alternativa 1</label>
      <textarea name="alternative_1" id="alternative_1" rows="5" placeholder="Texto da alternativa 1..."
        class="{{ err_alternative_1 ? 'input-error' : '' }}">{{ alternative_1 }}</textarea>
    </div>
    <div class="input-field">
      <label for="alternative_2">Alternativa 2</label>
      <textarea name="alternative_2" id="alternative_2" rows="5" placeholder="Texto da alternativa 2..."
        class="{{ err_alternative_2 ? 'input-error' : '' }}">{{ alternative_2 }}</textarea>
    </div>
    <div class="input-field">
      <label for="alternative_3">Alternativa 3</label>
      <textarea name="alternative_3" id="alternative_3" rows="5" placeholder="Texto da alternativa 3..."
        class="{{ err_alternative_3 ? 'input-error' : '' }}">{{ alternative_3 }}</textarea>
    </div>
    <div class="input-field">
      <label for="alternative_4">Alternativa 4</label>
      <textarea name="alternative_4" id="alternative_4" rows="5" placeholder="Texto da alternativa 4..."
        class="{{ err_alternative_4 ? 'input-error' : '' }}">{{ alternative_4 }}</textarea>
    </div>
    <div class="input-field">
      <label for="alternative_5">Alternativa 5</label>
      <textarea name="alternative_5" id="alternative_5" rows="5" placeholder="Texto da alternativa 5..."
        class="{{ err_alternative_5 ? 'input-error' : '' }}">{{ alternative_5 }}</textarea>
    </div>
    <button type="submit" class="btn btn-color">Atualizar Questão</button>
  </form>
</div>
{% endblock %}