{% extends '/components/users/base.html.twig' %}
{% block content %}
<div id="course-home">
  {% include '/components/others/banner.html.twig' %}
  <div class="container">
    <div class="content">
      <div id="presentation" class="section">
        <h2>Conectando Futuros Profissionais à Excelência Tecnológica para Alçar Voo em <span>Redes de
            Computadores</span>!</h2>
        <p>Explore nossa ampla variedade de cursos gratuitos para aprimorar suas habilidades em Redes de Computadores e
          se destacar no mercado de TI. Encontre o caminho para o conhecimento especializado em Linux, Networking e
          mais!</p>
        <div class="row user-steps">
          <div class="col">
            <i class="bi bi-1-circle-fill"></i>
            <h4>Faça Login</h4>
            <p>Acesse a plataforma e comece imediatamente!</p>
          </div>
          <div class="col">
            <i class="bi bi-2-circle-fill"></i>
            <h4>Acesse os Cursos</h4>
            <p>Tenha acesso aos cursos de onde quiser!</p>
          </div>
          <div class="col">
            <i class="bi bi-3-circle-fill"></i>
            <h4>Aumente seus Conhecimentos</h4>
            <p>Comece a estudar agora e aprenda mais sobre Redes de Computadores.</p>
          </div>
        </div>
      </div>
      {% if courses %}
      <div id="courses" class="section">
        <h2>Cursos Gratuitos Para <span>Começar Hoje Mesmo</span></h2>
        <div class="row">
          {% for course in courses %}
          {% include '/components/users/course_card.html.twig' with {'course': course} %}
          {% endfor %}
        </div>
      </div>
      {% else %}
      <p>Ainda não há cursos ativos para exibir!</p>
      {% endif %}
      <div id="comments" class="section">
        {% if not user_already_commented and user_is_connected %}
        <div class="user-comment">
          <h2>Seu Comentário Importa!</h2>
          <p>Seu feedback é inestimável para nós! Gostaríamos muito de ouvir sua opinião sincera sobre a nossa
            plataforma. Sua experiência é fundamental para continuarmos melhorando e oferecendo conteúdo de qualidade.
            Por favor, dedique alguns momentos para compartilhar seus pensamentos, sugestões ou até mesmo críticas
            construtivas. Seu feedback nos ajuda a aprimorar nossos serviços e a proporcionar uma experiência ainda
            melhor para você e para nossa comunidade de aprendizado. Agradecemos antecipadamente por sua contribuição!
          </p>
          <form action="{{ base_url }}/user/comment" method="post">
            {% if session_message %}
            <p class="session-message {{ session_message_type }}">
              {{ session_message }}
            </p>
            {% endif %}
            <input type="hidden" name="g_csrf_token" value="{{ g_csrf_token }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <div class="input-field">
              <label for="comment">Comente:</label>
              <textarea name="comment" id="comment" rows="5" placeholder="Por favor, deixe seu comentário..."
                class="{{ err_comment ? 'input-error' : '' }}">{{ comment }}</textarea>
            </div>
            <button type="submit" class="btn btn-color wauto">Comentar</button>
          </form>
        </div>
        {% endif %}
        <div class="all-comments">
          {% if users and comments %}
          <h2>Comentários dos Alunos:</h2>
          <div class="comments row">
            {% for user in users %}
            {% for comment in comments %}
            {% if comment.user_id == user.id %}
            <div class="comment col">
              <div class="user-info">
                <img src="{{ user.image }}" alt="{{ user.first_name }}" class="user-image">
                <h3 class="user-name">{{ user.first_name }}</h3>
              </div>
              <p class="comment-text">{{ comment.comment }}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}